@use '../abstract/' as*;

.block__header{
    padding: 2rem 0;
    @include flex (space-between, center);
    border-top: 1px solid $clr-dark;
    border-bottom: 1px solid $clr-dark;
    h2{
        margin-bottom: 0;
    }
    a{
        opacity: 0.5;
        &:hover{
            text-decoration: underline;
        }
    }
}